---
title: "Example"
date: 2014-11-28
layout: post
categories: example
published: true
comments: 
---
<div id="table-of-contents">
<h2>Table of Contents</h2>
<div id="text-table-of-contents">
<ul>
<li><a href="#sec-1">1. Example</a>
<ul>
<li><a href="#sec-1-1">1.1. ソースコードテスト</a></li>
</ul>
</li>
<li><a href="#sec-2">2. カテゴリ</a></li>
</ul>
</div>
</div>

<div id="outline-container-sec-1" class="outline-2">
<h2 id="sec-1"><span class="section-number-2">1</span> Example</h2>
<div class="outline-text-2" id="text-1">
<p>
orgでは新しい行で&lt;sと入力して、TABを押すと
</p>
<pre class="example">
#+BEGIN_SRC ~ #+END_SRC
</pre>
<p>
が入力出来ます。
</p>
</div>
<div id="outline-container-sec-1-1" class="outline-3">
<h3 id="sec-1-1"><span class="section-number-3">1.1</span> ソースコードテスト</h3>
<div class="outline-text-3" id="text-1-1">
<div class="org-src-container">

<pre class="src src-emacs-lisp"><span style="color: #7f7f7f;">(</span>insert <span style="color: #e67128;">"hello"</span><span style="color: #7f7f7f;">)</span>
</pre>
</div>
</div>
</div>
</div>

<div id="outline-container-sec-2" class="outline-2">
<h2 id="sec-2"><span class="section-number-2">2</span> カテゴリ</h2>
<div class="outline-text-2" id="text-2">
  <ul class="tag-box inline">
{% assign tags_list = site.categories %}  
  {% if tags_list.first[0] == null %}
    {% for tag in tags_list %} 
      <li><a href="#{{ tag }}">{{ tag | capitalize }} <span>{{ site.tags[tag].size }}</span></a></li>
    {% endfor %}
  {% else %}
    {% for tag in tags_list %} 
      <li><a href="#{{ tag[0] }}">{{ tag[0] | capitalize }} <span>{{ tag[1].size }}</span></a></li>
    {% endfor %}
  {% endif %}
{% assign tags_list = nil %}
</ul>

{% for tag in site.categories %} 
  <h2 id="{{ tag[0] }}">{{ tag[0] | capitalize }}</h2>
  <ul class="post-list">
    {% assign pages_list = tag[1] %}  
    {% for post in pages_list %}
      {% if post.title != null %}
      {% if group == null or group == post.group %}
      <li><a href="{{ site.url }}{{ post.url }}">{{ post.title }}<span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B %d, %Y" }}</time></a></li>
      {% endif %}
      {% endif %}
    {% endfor %}
    {% assign pages_list = nil %}
    {% assign group = nil %}
  </ul>
{% endfor %}
</div>
</div>
